In [1]:
from polyglot.text import Text

In [2]:
text = Text('o avanço na corrida espacial é algo muito importante para a história')

In [10]:


if text.polarity > 0:
    sentiment.append(1)
elif text.polarity < 0:
    sentiment.append(-1)
else:
    sentiment.append(0)

sentiment

[1]

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mathe\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
dataset = pd.read_csv('g1_clean.csv', engine='python')

In [13]:
dataset['Keyword'] = [str(x).replace("'", "").replace(";", "").replace('"', "") for x in dataset['Keyword'].values]

In [14]:
dataset.head()

,Unnamed: 0,Author,Published,Comment,Likes,Dislikes,Article,Keyword
0,0,'Paulo Fernandes,2016-05-06T14:14:23,kg de equipamentos e armadura kg de bateria.,17,1,Nasa apresenta robÃ´ humanoide \'astronauta\',NASA
1,1,'Mirage Tf,2016-05-06T16:54:39,"vÃ£o fazer igual o outro, funciona com luz sol...",4,0,Nasa apresenta robÃ´ humanoide \'astronauta\',NASA
2,2,'Rodrigo Braga,2016-05-06T13:43:52,"kkkkkk posso ir? levo meu super nintendo, prometo",20,1,Nasa apresenta robÃ´ humanoide \'astronauta\',NASA
3,3,'Tucanofdp,2016-05-06T14:12:40,"VocÃª serÃ¡ bem vindo Rodrigo,nÃ³s sobrevivent...",15,0,Nasa apresenta robÃ´ humanoide \'astronauta\',NASA
4,4,'Wellington Oliveira,2016-05-06T11:05:33,Os ETs que visitam a terra nada mais sÃ£o que ...,39,11,Nasa apresenta robÃ´ humanoide \'astronauta\',NASA

In [ ]:
for row in dataset['Comment'].values:
    text = Text(row)
    if text.polarity > 0:
        sentiment.append(1)
    elif text.polarity < 0:
        sentiment.append(-1)
    else:
        sentiment.append(0)